dlrgatn.de {
    reverse_proxy dlrgWeb:3000
}

www.dlrgatn.de {
    redir https://dlrgatn.de{uri}
}

db.dlrgatn.de {
    reverse_proxy pocketbase:8090
}

sync.dlrgatn.de {
    reverse_proxy syncthing:8384
}